<div class="mt-5 h-[500px] bg-white rounded-lg p-4 flex flex-col items-center">
    <h2 class="text-xl font-bold mb-4 italic text-gray-400">
    {{ title }}
    </h2>
    <div class="w-full overflow-auto">
        <p-table
            [value]="dataSource"
            stripedRows
            [scrollable]="true"
            scrollHeight="400px">
            <ng-template pTemplate="header">
                <tr>
                    @for (col of cols; track $index) {
                        <th>
                            {{ col.value | titlecase }}
                        </th>
                    }
                    <th>
                        Opción
                    </th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-employee>
                <tr>
                    @for (col of cols; track $index) {
                        <td>
                            {{ employee[col.key] }}
                        </td>
                    }
                    <td>
                        <div class="w-full flex flex-row items-center">
                            <button title="editar" (click)="onAction('Editar',employee)"
                                class="transition-all duration-300 active:brightness-80">
                                <img class="w-[30px]" src="iconos-botones/editar.png" alt="" />
                            </button>
                            <button title="eliminar" (click)="onAction('Eliminar',employee)"
                                class="transition-all duration-300 active:brightness-80">
                                <img class="w-[30px]" src="iconos-botones/eliminar.png" alt="" />
                            </button>
                        </div>
                        </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>