@use "primeicons/primeicons.css";
@use "tailwindcss";

html,
body {
    height: 100%;
    margin: 0;
    padding: 0;
    background: linear-gradient(to bottom, #00c0f1, #3b6bb5);
}


.p-datepicker-input {
    width: 390px !important;
}