<div class="flex flex-col justify-center px-6 py-12 h-screen w-screen">
  <div class="flex items-center justify-center">
    <h1 class="text-white text-4xl font-bold">MENÚ PRINCIPAL</h1>
  </div>

  <div class="flex justify-center gap-2 mt-10">
    <button
    (click)="goToServices()"
     class="transition-all duration-300 active:brightness-80">
      <img
        class="w-[150px]"
        src="iconos-botones/registro-servicios.png"
        alt=""
      />
    </button>

    <button
      (click)="goToEmployees()"
      class="transition-all duration-300 active:brightness-80">
      <img
        class="w-[150px]"
        src="iconos-botones/registro-trabajadores.png" alt="trabajadores" />
    </button>
  </div>

  <div class="flex justify-center gap-2 mt-3">
    <button class="transition-all duration-300 active:brightness-80">
      <img
        class="w-[150px]"
        src="iconos-botones/gestion-vehiculos.png"
        alt=""
      />
    </button>

    <button class="transition-all duration-300 active:brightness-80">
      <img class="w-[150px]" src="iconos-botones/reportes.png" alt="" />
    </button>
  </div>

  <div class="flex items-center justify-center mt-10">
    <button (click)="logout()" class="transition-all duration-300 active:brightness-80">
      <img class="w-[100px]" src="iconos-botones/cerrar-sesion.png" alt="" />
    </button>
  </div>
</div>
